body {
    background-image: url('../img/img-p.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.div-a {
    margin-top: 600px;
    width: 100%;
    height: 33400px;
    background-color: #17a2b8;
}